.header-menu {
  padding: 26px 0;
  display: flex;
  flex-direction: row;
}
.header-menu__logo-link {
  font-size: 22px;
  color: #3e4042;
  text-transform: uppercase;
  font-weight: bold;
}
@media screen and (max-width: 1400px) {
  .header-menu__logo-link {
    font-size: 19px;
    width: 111px;
    display: block;
  }
}
.header-menu__link_color {
  color: #ff8949;
}

.header-nav {
  margin-left: auto;
}
.header-nav__list {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 1400px) {
  .header-nav__list {
    flex-direction: column-reverse;
    text-align: center;
  }
}
.header-nav__item {
  margin-left: 30px;
}
@media screen and (max-width: 1400px) {
  .header-nav__item:first-child {
    display: none;
  }
}
.header-nav__link {
  color: #3e4042;
  font-size: 16px;
  font-weight: 500;
}
@media screen and (max-width: 1400px) {
  .header-nav__link {
    font-size: 12px;
  }
}
.header-nav__link_phone {
  display: flex;
  font-size: 20px;
  font-weight: bold;
}
@media screen and (max-width: 1400px) {
  .header-nav__link_phone {
    font-size: 14px;
    margin-top: 10px;
  }
}
.header-nav__phone-img {
  margin-right: 15px;
}

.header-parking {
  background: url(./img/header/header_cars.png) no-repeat top center/cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 490px;
}
@media screen and (max-width: 1400px) {
  .header-parking {
    flex-direction: column-reverse;
    height: 460px;
  }
}

.header-info {
  background-color: rgba(0, 0, 0, 0.75);
  height: 70px;
  display: flex;
  align-items: center;
  font-size: 20px;
  color: #fff;
}
@media screen and (max-width: 1400px) {
  .header-info {
    font-size: 12px;
  }
}
.header-info__menu {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 1400px) {
  .header-info__menu {
    height: 80px;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: end;
  }
}
@media screen and (max-width: 1400px) {
  .header-info__item {
    width: 110px;
  }
}
.header-info__link {
  color: #fff;
  display: flex;
  margin-top: 9px;
}
.header-info__line {
  color: #ff8949;
}
.header-info__wraper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header-info__bold {
  font-weight: bold;
}
.header-info__text {
  display: block;
  margin-left: 10px;
}

.header-intro {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width: 1400px) {
  .header-intro {
    margin: 0;
  }
}
.header-intro__title {
  color: #fff;
  font-size: 76px;
  text-transform: uppercase;
}
@media screen and (max-width: 1400px) {
  .header-intro__title {
    width: 276px;
    font-size: 25px;
    text-align: center;
  }
}
.header-intro__title-color {
  color: #ff8949;
}

.header-search {
  width: 100%;
  background-color: #fff;
  height: 120px;
  width: 1355px;
  display: flex;
  align-items: center;
  padding: 0 40px;
  margin-bottom: 41px;
}
@media screen and (max-width: 1400px) {
  .header-search {
    flex-direction: column;
    height: 187px;
    padding: 20px 40px;
    width: 100%;
  }
}

.date-block input select {
  border: 1px solid #dbdbdb;
}

.date-block {
  color: #3e4042;
  font-size: 16px;
  margin-right: 30px;
  font-weight: 500;
}
@media screen and (max-width: 1400px) {
  .date-block {
    margin: 0;
  }
}
.date-block__inputs {
  margin-top: 10px;
}
.date-block__btn {
  margin-top: 25px;
}
@media screen and (max-width: 1400px) {
  .date-block__btn {
    display: none;
  }
}

.date-picker__header {
  width: 385px;
  margin-right: 15px;
}
@media screen and (max-width: 1400px) {
  .date-picker__header {
    width: 160px;
    margin: 0;
  }
}

.time-picker__header {
  width: 114px;
}
@media screen and (max-width: 1400px) {
  .time-picker__header {
    width: 105px;
  }
}

[type=date] {
  background: #fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png) 97% 50% no-repeat;
}

.parking {
  display: flex;
  padding: 40px 0;
}

.parking-logo {
  display: flex;
  margin-right: 15px;
  flex-direction: column;
  position: relative;
}
@media screen and (max-width: 1400px) {
  .parking-logo {
    display: none;
  }
}
.parking-logo__img {
  align-self: start;
}
.parking-logo__text {
  position: absolute;
  display: block;
  color: #808080;
  transform: rotate(-90deg);
  width: 1820px;
  font-size: 119px;
  margin: 0;
  left: -800px;
  top: 1250px;
  opacity: 0.5;
}

.parking-card {
  width: 1080px;
  height: 351px;
  display: flex;
  box-shadow: 6px 3px 10px -6px #5f6286;
}
@media screen and (max-width: 1400px) {
  .parking-card {
    flex-direction: column;
    height: 720px;
    width: 300px;
  }
}

.parking-list__item {
  margin-bottom: 20px;
}

.parking-img {
  width: 395px;
  height: 351px;
  display: flex;
  flex-direction: column;
  position: relative;
}
@media screen and (max-width: 1400px) {
  .parking-img {
    width: 300px;
    height: 220px;
  }
}
@media screen and (max-width: 1400px) {
  .parking-img__photo {
    height: inherit;
  }
}

.overlay-img {
  position: absolute;
  height: 351px;
  width: 395px;
}
@media screen and (max-width: 1400px) {
  .overlay-img {
    width: 300px;
    height: 220px;
  }
}
.overlay-img__header {
  font-size: 20px;
  color: #fff;
  height: 56px;
  background-color: rgba(34, 23, 17, 0.59);
  text-align: center;
  padding-top: 15px;
}
.overlay-img__footer {
  height: 100px;
  display: flex;
  margin-top: 195px;
  justify-content: space-around;
  align-items: flex-end;
  padding-bottom: 20px;
  background: linear-gradient(0deg, #0000007a, #524f4f00);
}
@media screen and (max-width: 1400px) {
  .overlay-img__footer {
    margin-top: 65px;
  }
}

.comment-text {
  font-weight: 500;
  color: #fff;
}

.parking-info {
  width: 685px;
  padding: 20px 28px 0;
}
@media screen and (max-width: 1400px) {
  .parking-info {
    width: inherit;
    padding: 0 20px;
  }
}

.parking-info__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #f0f0f0;
  width: 586px;
  position: relative;
  padding-left: 13px;
}
@media screen and (max-width: 1400px) {
  .parking-info__title {
    width: 160px;
    padding: 0;
  }
}

.parking-name {
  margin: 13px 0;
}
@media screen and (max-width: 1400px) {
  .parking-name {
    font-size: 20px;
  }
}

.parking-recommended {
  position: absolute;
  color: #ff8949;
  background-color: #3e4042;
  width: 112px;
  text-align: center;
  font-weight: bold;
  clip-path: polygon(100% -600%, 0 100%, 100% 100%);
  padding: 5px 0;
  right: -72px;
}
@media screen and (max-width: 1400px) {
  .parking-recommended {
    right: -119px;
  }
}

.services-list {
  margin-bottom: 70px;
}
@media screen and (max-width: 1400px) {
  .services-list {
    border-bottom: 1px solid #F0F0F0;
    margin-bottom: 10px;
  }
}
.services-list__item {
  margin-bottom: 12px;
}
.services-list__line {
  margin-right: 24px;
}

.parking-info__services {
  display: flex;
  justify-content: space-between;
  padding: 17px 0 0 13px;
}
@media screen and (max-width: 1400px) {
  .parking-info__services {
    flex-direction: column;
  }
}

.price-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width: 1400px) {
  .price-info {
    flex-direction: row;
    flex-wrap: wrap-reverse;
    justify-content: space-around;
    margin-bottom: 15px;
  }
}
.price-info__old {
  font-size: 18px;
  text-decoration: line-through;
}
.price-info__new {
  color: #ff8949;
  font-size: 26px;
  font-weight: bold;
}
.price-info__days {
  color: #9b9b9b;
}
.price-info__more {
  color: #ff8949;
  text-decoration: underline;
  margin: 33px 0 18px;
}
@media screen and (max-width: 1400px) {
  .price-info__more {
    margin: 15px 0;
  }
}

.parking-info__reservation {
  margin-top: 30px;
}
@media screen and (max-width: 1400px) {
  .parking-info__reservation {
    margin: 0;
    text-align: center;
  }
}

.transfer-block {
  display: flex;
}
@media screen and (max-width: 1400px) {
  .transfer-block {
    flex-direction: column;
    border-bottom: 1px solid #F0F0F0;
  }
}

.transfer-info {
  display: flex;
  margin-right: 36px;
}
@media screen and (max-width: 1400px) {
  .transfer-info {
    margin-bottom: 10px;
  }
}

.transfer-info__wraper {
  display: flex;
  flex-direction: column;
}

.transfer-info__img {
  align-self: center;
  margin-right: 12px;
}

.info-title {
  font-weight: bold;
}

.info-text {
  font-size: 14px;
  color: #9b9b9b;
  font-weight: 300;
}

.add-info {
  color: #9b9b9b;
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}
@media screen and (max-width: 1400px) {
  .add-info {
    width: 160px;
    margin: 10px auto;
  }
}
.add-info__circle {
  color: #fff;
  background-color: #ff8949;
  height: 18px;
  width: 18px;
  border-radius: 50px;
  display: block;
  text-align: center;
}

.parking-card__form {
  height: 581px;
  flex-wrap: wrap;
  flex-direction: column;
}
@media screen and (max-width: 1400px) {
  .parking-card__form {
    flex-wrap: nowrap;
    height: 1280px;
  }
}

.parking-data label {
  color: #777777;
  margin-bottom: 8px;
  margin-left: 13px;
}

.userData {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.user-data {
  display: flex;
  flex-direction: column;
  margin-bottom: 17px;
}

.end-time-input,
.start-time-input,
.end-date-input,
.start-date-input,
.tel-input,
.user-data__email {
  width: 300px;
}
@media screen and (max-width: 1400px) {
  .end-time-input,
.start-time-input,
.end-date-input,
.start-date-input,
.tel-input,
.user-data__email {
    width: 265px;
  }
}

.reg-num-input,
.person-num-input,
.child-num-input {
  width: 190px;
}
@media screen and (max-width: 1400px) {
  .reg-num-input,
.person-num-input,
.child-num-input {
    width: 265px;
  }
}

.name-input {
  width: 628px;
}
@media screen and (max-width: 1400px) {
  .name-input {
    width: 265px;
  }
}

.end-time-input,
.start-time-input {
  width: 124px;
}

.parking-price {
  order: 0;
}
@media screen and (max-width: 1400px) {
  .parking-price {
    order: 1;
  }
}

.parking-price__days {
  margin: 15px;
}
@media screen and (max-width: 1400px) {
  .parking-price__days {
    width: 100%;
  }
}

.price-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 150px;
  align-items: center;
}
.price-list__item {
  margin-bottom: 12px;
}
.price-list__line {
  margin-left: 10px;
}

.total {
  margin-left: auto;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 1400px) {
  .total {
    width: 250px;
  }
}
.total__price {
  font-size: 26px;
}
.total__days {
  color: #9B9B9B;
  margin: 0 50px 0 25px;
}
@media screen and (max-width: 1400px) {
  .total__days {
    display: none;
  }
}

.review {
  background-color: #F4F4F4;
  padding: 70px 0 50px;
}
@media screen and (max-width: 1400px) {
  .review {
    padding: 20px 0;
  }
}

.review-title {
  font-size: 50px;
  margin-right: 690px;
}
@media screen and (max-width: 1400px) {
  .review-title {
    font-size: 30px;
    margin: 20px auto;
  }
}

.comments {
  width: 1075px;
  height: 270px;
  margin-left: auto;
  background-color: #fff;
  padding: 23px 50px;
  box-shadow: 6px 3px 10px -6px #5f6286;
}
@media screen and (max-width: 1400px) {
  .comments {
    width: 300px;
    height: 400px;
    padding: 20px;
  }
}
.comments__header {
  display: flex;
  border-bottom: 1px solid #F0F0F0;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 1400px) {
  .comments__header {
    flex-direction: column;
    text-align: center;
  }
}
.comments__user-info {
  display: flex;
  flex-direction: column;
}
.comments__username {
  font-size: 26px;
}
@media screen and (max-width: 1400px) {
  .comments__username {
    font-size: 20px;
    margin: 15px 0;
  }
}
.comments__text {
  margin-top: 15px;
}
.comments__data {
  display: block;
  text-align: right;
  color: #9B9B9B;
}
@media screen and (max-width: 1400px) {
  .comments__parking-name {
    font-size: 12px;
  }
}
@media screen and (max-width: 1400px) {
  .comments__rating {
    margin-bottom: 20px;
  }
}

.review-control {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.arrow {
  border: none;
  outline: none;
  background-color: transparent;
}

.slider-arrow {
  margin-right: 45px;
}
@media screen and (max-width: 1400px) {
  .slider-arrow {
    display: none;
  }
}

.arrow-size {
  font-size: 25px;
}

.arrow:active {
  color: #ff8949;
}

.point {
  width: 10px;
  height: 10px;
  border: 1px solid #B4B4B4;
  border-radius: 50px;
  background-color: transparent;
}

.slider-point {
  display: flex;
  justify-content: space-between;
  width: 82px;
  margin-left: 780px;
  margin-top: 25px;
}
@media screen and (max-width: 1400px) {
  .slider-point {
    margin: 20px auto;
  }
}

.active-point {
  background-color: #ff8949;
}

.footer {
  background-color: #3E4042;
  color: #fff;
  padding: 50px 0 0;
}

.footer-wraper {
  display: flex;
}
@media screen and (max-width: 1400px) {
  .footer-wraper {
    flex-direction: column;
  }
}

.contacts {
  width: 240px;
}

.contacts__title,
.navigation__title,
.info__title {
  margin-bottom: 5px;
}

.contacts__link {
  display: flex;
  color: #fff;
  text-decoration: none;
}
@media screen and (max-width: 1400px) {
  .contacts__link {
    margin: 20px 0;
  }
}

.contacts__phone {
  margin-right: 15px;
}

.contacts__text {
  margin-top: 10px;
}

.navigation {
  margin: 0 230px 0 150px;
}
@media screen and (max-width: 1400px) {
  .navigation {
    margin: 40px 0;
  }
}

.navigation-list__item {
  margin-bottom: 5px;
}
.navigation-list__link {
  color: #fff;
  text-decoration: underline;
}

.info {
  width: 347px;
}
.info__text {
  margin: 0;
}
@media screen and (max-width: 1400px) {
  .info__text {
    width: 300px;
  }
}

.footer-links {
  background-color: #2E2F31;
  padding: 12px 0;
  margin-top: 20px;
  display: flex;
}

.networks {
  width: 22px;
  height: 22px;
  border-radius: 50px;
  background-color: #fff;
  display: block;
  text-align: center;
  line-height: 23px;
}

.social-links {
  display: flex;
}
@media screen and (max-width: 1400px) {
  .social-links {
    margin-bottom: 30px;
  }
}

.social-links__title, .payment-title {
  text-transform: uppercase;
  margin-right: 20px;
}

.social-links__list {
  display: flex;
}

.social-links__item {
  margin-right: 10px;
}

.payment {
  display: flex;
  margin-left: 550px;
}
@media screen and (max-width: 1400px) {
  .payment {
    margin: 0;
  }
}

.payment-title {
  text-transform: uppercase;
}

.payment-list {
  display: flex;
}
.payment-list__item {
  height: 24px;
  width: 42px;
  border-radius: 5px;
  margin-right: 5px;
  background-color: #fff;
  text-align: center;
  display: block;
  line-height: 24px;
}
.payment-list__img {
  padding-top: 2px;
}

.payment-list__img {
  line-height: 24px;
}

.popup-reservation, .popup-price {
  position: fixed;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #0b1724ab;
}

.popup__close {
  background-color: transparent;
  border: none;
  outline: none;
  width: 16px;
  height: 16px;
  font-size: 20px;
  align-self: flex-end;
}

.reservation-block {
  left: 38%;
  top: 40%;
  width: 416px;
  height: 227px;
  align-items: center;
}
.reservation-block__message {
  font-size: 29px;
  width: 314px;
  height: 98px;
  text-align: center;
}
.reservation-block__done {
  height: 53px;
  width: 53px;
  border-radius: 50px;
  border: 2px solid #18A75A;
  text-align: center;
  line-height: 55px;
}

.parking-price__popup {
  width: 416px;
  height: 341px;
  left: 40%;
  top: 35%;
}

.parking-price__title {
  font-size: 29px;
  width: 100%;
  border-bottom: 1px solid #F0F0F0;
}

.popup {
  background-color: #fff;
  position: fixed;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

body {
  font-family: "Ubuntu";
  color: #3e4042;
  padding: 0;
  margin: 0;
  font-size: 16px;
  overflow-x: hidden;
}
@media screen and (max-width: 1400px) {
  body {
    font-size: 14px;
  }
}

div,
p,
form,
input,
a,
span,
button {
  box-sizing: border-box;
}

ul,
li {
  display: block;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

h3 {
  font-weight: 700;
  font-size: 26px;
  margin: 0;
}

h4 {
  font-size: 20px;
  font-weight: 700;
  margin: 0;
}

.container {
  width: 1350px;
  margin: 0 auto;
}
@media screen and (max-width: 1400px -1) {
  .container {
    width: 800px;
  }
}
@media screen and (max-width: 1400px) {
  .container {
    width: 300px;
  }
}

.line {
  color: #ff8949;
  font-weight: bold;
}

.orange {
  color: #ff8949;
}

.bold {
  font-weight: 700;
}

.btn {
  background-color: #ff8949;
  height: 39px;
  width: 172px;
  border: none;
  font-weight: bold;
  color: #fff;
  font-size: 16px;
}

.non-active {
  opacity: 30%;
}

.input {
  height: 40px;
}

.input:focus {
  border-color: #ff8949;
  outline: none;
}

.d-flex {
  display: flex;
}

.hide {
  display: none;
}

/*# sourceMappingURL=styles.css.map */
