.footer {
  // display: none;
  background-color: $main-footer-background-color;
  color: #fff;
  padding: 50px 0 0;
  @include for-mobile {
    flex-direction: column;
    }
}

.footer-wraper{
  display: flex;
  width: 1350px;
  margin: 0 auto;
  @include for-tablet {
    padding: 0 20px;
    width: 100%;
    }
  @include for-mobile {
    width: 300px;
    flex-direction: column;
    }
}

.contacts {
  width: 240px;
}

.contacts__title,
.navigation__title,
.info__title {
  margin-bottom: 5px;
}
.contacts__link {
  display: flex;
  color: #fff;
  text-decoration: none;
  @include for-mobile {
    margin: 20px 0;
    }
}

.contacts__phone {
  margin-right: 15px;
}

.contacts__text {
  margin-top: 10px;
}

.navigation {
  margin: 0 230px 0 150px;
  @include for-mobile {
    margin: 40px 0
    }
}

.navigation-list {
  &__item {
    margin-bottom: 5px;
  }
  &__link {
    color: #fff;
    text-decoration: underline;
  }
}

.info {
  width: 347px;
  &__text {
    margin: 0;
    @include for-mobile {
      width: 300px
      }
  }
}

.footer-links {
  background-color: $second-footer-background-color;
  padding: 12px 0;
  margin-top: 20px;
  display: flex;
  @include for-tablet {
    padding: 12px 20px;
    }
  @include for-mobile {
    flex-direction: column;
    }
 
}

.networks {
  width: 22px;
  height: 22px;
  border-radius: 50px;
  background-color: #fff;
  display: block;
  text-align: center;
  line-height: 23px;
}

.social-links {
  display: flex;
  @include for-mobile {
    margin-bottom: 30px;
    }
}

.social-links__title,.payment-title {
  text-transform: uppercase;
  margin-right: 20px;
}
.social-links__list {
  display: flex;
}

.social-links__item {
  margin-right: 10px;
}

.payment{
    display: flex;
    margin-left:550px ;
    @include for-tablet {
      margin-left: auto;
      }
    @include for-mobile {
      margin: 0;
      }
}
.payment-title {
  text-transform: uppercase;
}

.payment-list {
  display: flex;
  &__item {
    height: 24px;
    width: 42px;
    border-radius: 5px;
    margin-right: 5px;
    background-color: #fff;
    text-align: center;
    display: block;
    line-height: 24px;
  }

  &__img {
   padding-top: 2px;
  }
}
.payment-list__img{
    line-height:24px ;
}