.parking {
  display: flex;
  padding:  20px 10px;
  @include for-tablet{
    display: flex;
    justify-content: center;
  }
}

.parking-logo {
  display: flex;
  margin-right: 15px;
  flex-direction: column;
  position: relative;
  @include for-tablet{
    display: none;
  }
  @include for-mobile {
   display: none;
  }


  &__img{
    align-self: start;

  }
  &__text {
    position: absolute;
    display: block;
    color: #808080;
    transform: rotate(-90deg);
    width: 1820px;
    font-size: 119px;
    margin: 0;
    left: -800px;
    top: 1250px;
    opacity: 0.5;
  }
}

.parking-card {
  width: 1080px;
  height: 351px;
  display: flex;
  box-shadow: 6px 3px 10px -6px rgba(95, 98, 134, 1);
  position: relative;
  @include for-tablet{
    width: 975px;
  }
  @include for-mobile {
    flex-direction: column;
    height: 720px;
    width: 300px;
   }
}

.parking-list {
  &__item {
    margin-bottom: 20px;
  }
}



.parking-img {
  width: 395px;
  height: 351px;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: -1;
  @include for-tablet{
    align-self: center;
    width: 350px;
    height: 300px;
  }
  @include for-mobile {
    width: 300px;
    height: 220px;
   }

   &__photo{
    @include for-tablet{
      width: inherit;
      height: inherit
    }
    @include for-mobile {
      height: inherit
     }
  }
 
}

.overlay-img{
  position: absolute;
  height: 351px;
  width: 395px;
  @include for-tablet{
    width: 350px;
    height: 300px;
  }
  @include for-mobile {
    width: 300px;
    height: 220px;
   }
  &__header {
    font-size: 20px;
    color: #fff;
    height: 56px;
    background-color: rgba($color: #221711, $alpha: 0.59);
    text-align: center;
    padding-top: 15px;
  }
  
  &__footer {
    height: 100px;
    display: flex;
    margin-top: 195px;
    justify-content: space-around;
    align-items: flex-end;
    padding-bottom: 20px;
    background: linear-gradient(0deg, #0000007a, #524f4f00);
    @include for-tablet{
     margin-top: 144px;
    }
    @include for-mobile {
      margin-top: 65px;
     }
  }
}
.comment-text {
  font-weight: 500;
  color: #fff;
}
.parking-info {
  width: 685px;
  padding: 20px 28px 0;
  @include for-mobile {
    width: inherit;
    padding: 0 20px;
   }
}

.parking-info__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #f0f0f0;
  width: 586px;
  position: relative;
  padding-left: 13px;
  @include for-mobile {
    width:  160px;
    padding: 0;
   }
}

.parking-name {
  margin: 13px 0;
  @include for-mobile {
    font-size: 20px;
   }
}

.parking-recommended {
  position: absolute;
  color: $second-text-color;
  background-color: #3e4042;
  width: 112px;
  text-align: center;
  font-weight: bold;
  clip-path: polygon(100% -600%, 0 100%, 100% 100%);
  padding: 5px 0;
  right: -72px;
  @include for-tablet{
    right: -11px;
  }
  @include for-mobile {
    right: -119px;
   }
}

.services-list {
  margin-bottom: 70px;
  @include for-tablet{
    margin-bottom: 40px;
  }
  @include for-mobile {
    border-bottom: 1px solid #F0F0F0;
    margin-bottom: 10px;
   }
  &__item {
    margin-bottom: 12px;
  }
  &__line {
    margin-right: 24px;
  }
}

.parking-info__services {
  display: flex;
  justify-content: space-between;
  padding: 17px 0 0 13px;
  @include for-mobile {
    flex-direction: column;
   }
}

.price-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  @include for-mobile {
    flex-direction: row;
  flex-wrap: wrap-reverse;
  justify-content: space-around;
  margin-bottom: 15px;
   }
  &__old {
    font-size: 18px;
    text-decoration: line-through;
  }
  &__new {
    color: $second-text-color;
    font-size: 26px;
    font-weight: bold;
  }

  &__days {
    color: #9b9b9b;
  }

  &__more {
    color: $second-text-color;
    text-decoration: underline;
    margin: 33px 0 18px;
    @include for-mobile {
      margin: 15px 0;
     }
  }
}

.parking-info__reservation {
  margin-top: 30px;
  @include for-mobile {
    margin: 0;
    text-align: center;
   }
}

.transfer-block {
  display: flex;
  @include for-tablet{
    flex-direction: column;
  }
  @include for-mobile {
  
    border-bottom: 1px solid #F0F0F0;
   }
}

.transfer-info {
  display: flex;
  margin-right: 36px;
  @include for-tablet{
    margin-top: 10px;
  }
  @include for-mobile {
   margin-bottom: 10px;
   }
}
.transfer-info__wraper {
  display: flex;
  flex-direction: column;
}

.transfer-info__img {
  align-self: center;
  margin-right: 12px;
}

.info-title {
  font-weight: bold;
}

.info-text {
  font-size: 14px;
  color: #9b9b9b;
  font-weight: 300;
}

.add-info {
  color: #9b9b9b;
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  @include for-mobile {
    width: 160px;
    margin: 10px auto;
   }
  &__circle {
    color: #fff;
    background-color: $second-text-color;
    height: 18px;
    width: 18px;
    border-radius: 50px;
    display: block;
    text-align: center;
  }
}

.parking-card__form {
  height: 581px;
  flex-wrap: wrap;
    flex-direction: column;
    @include for-mobile {
     flex-wrap: nowrap;
     height: 1280px;
     }
}

.parking-data{
  @include for-tablet {
    width:580px;
     }

     @include for-mobile {
      width:274px;
       }
}

.parking-data label {
  color: #777777;
  margin-bottom: 8px;
  margin-left: 13px;
}

.date-picker__form{
  width: 300px;
  @include for-tablet {
   width: 280px ;
    }
  @include for-mobile {
   width: 265px;
    }
}

.userData {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
   @include for-mobile {
    width: 265px;
     }
}

.user-data {
  display: flex;
  flex-direction: column;
  margin-bottom: 17px;
}

.time-picker__form{
  width:300px ;
}

.end-time-input,
.start-time-input,
.end-date-input,
.start-date-input,
.tel-input,
.user-data__email {
  width: 300px;
  @include for-mobile {
   width: 265px;
   }
}
.reg-num-input,
.person-num-input,
.child-num-input {
  @include for-tablet {
    width: 160px;
    }
  @include for-mobile {
    width: 265px;
    }
}

.name-input {
  width: 628px;
  @include for-tablet {
    width:580px;
     }
  @include for-mobile {
    width: 265px;
    }
}

.tel-input,.email-input {
  @include for-tablet {
    width:250px;
     }
}

.end-time-input,
.start-time-input{
  width: 124px;
}
.parking-price{
  order: 0;
  @include for-mobile {
    order: 1;
    }
}
.parking-price__days {
  margin: 15px;
  @include for-mobile {
    width: 100%;
    }
}

.price-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 150px;
  align-items: center;
  padding: 0 10px;
  &__item {
    margin-bottom: 12px;
  }
  &__line {
    margin: 0 10px;
  }
}

.price{
  margin-left: 10px;
}
.send-btn{
  @include for-mobile {
   margin: 0 auto;
    }
}
.total{
    margin-left: auto;
    display: flex;
    align-items: center;
    
    @include for-mobile {
      width: 250px;
      justify-content: center;
      margin-bottom: 10px;
      }
    &__price  {
        font-size: 26px;
    }

    &__days{
        color: #9B9B9B;
        margin: 0 50px 0 25px;
        @include for-mobile {
          display: none;
          }
    }
}