.popup-reservation,
.popup-price {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: $popup-background;
  z-index: 20;
}

.popup__close {
  background-color: transparent;
  border: none;
  outline: none;
  width: 25px;
  height: 16px;
  font-size: 20px;
  align-self: flex-end;
  color: $main-text-color;
}

.reservation-block {
  left: 38%;
  top: 40%;
  width: 416px;
  height: 227px;
  align-items: center;
  @include for-tablet {
  }
  @include for-mobile {
    width: 300px;
    left: 24%;
  }

  &__message {
    font-size: 29px;
    width: 314px;
    height: 98px;
    text-align: center;
    @include for-mobile {
      font-size: 20px;
    }
  }

  &__done {
    height: 53px;
    width: 53px;
    border-radius: 50px;
    border: 2px solid #18a75a;
    text-align: center;
    line-height: 55px;
  }
}

.parking-price__popup {
  width: 416px;
  height: 341px;
  left: 40%;
  top: 35%;
}

.parking-price__title {
  font-size: 29px;
  width: 100%;
  border-bottom: 1px solid #f0f0f0;
  font-weight: bold;
  padding: 15px;
}

.popup {
  background-color: #fff;
  position: fixed;
  display: flex;
  flex-direction: column;
  padding: 20px;
  z-index: 200;
}
