.review{
    background-color: #F4F4F4;
    padding: 70px 0 50px;
    @include for-mobile {
        display: none;
        }
}

.review-title{
    font-size: 50px; 
    margin-right: 690px;
}

.comments{
   width: 1075px;
   height: 270px; 
   margin-left: auto;
   background-color: #fff;
   padding: 23px 50px ;
   box-shadow: 6px 3px 10px -6px rgba(95, 98, 134, 1);
   &__header{
    display: flex;
       border-bottom: 1px solid #707070 ;
       align-items: center;;
       justify-content: space-between;
   }
   &__user-info{
       display: flex;
       flex-direction: column;
   }

   &__username{
       font-size: 26px;
   }

   &__text{
       margin-top: 15px;
   }

   &__data{
       display: block;
      text-align: right;
   }
}

.review-control{
    display: flex;
    justify-content: flex-end;
    align-items: center;

}


.arrow{
    border: none;
    outline: none; 
    background-color: transparent;
}

.slider-arrow{
    margin-right: 45px;
   
}

.arrow-size{
    font-size: 25px;
}
.arrow:active{
     color: $second-text-color;
}

.point{
    width: 10px;
    height: 10px;
    border: 1px solid #B4B4B4;
    border-radius: 50px;
    background-color: transparent;
}

.slider-point{
    display: flex;
    justify-content: space-between;
    width: 82px;
    margin-left: 780px;
    margin-top: 25px;

}
.active-point{
    background-color:$second-text-color
}

